<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application is background only</key>
	<true/>
	<key>InputMethodConnectionName</key>
	<string>com.drikin.DriMacIME_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>DriMacInputController</string>
	<key>NSPrincipalClass</key>
	<string>DriMacApplication</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
		<string>Jpan</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>main.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>com.drikin.DriMacIME</string>
	<key>CFBundleName</key>
	<string>DriMac IME</string>
	<key>CFBundleDisplayName</key>
	<string>DriMac</string>
	<key>CFBundleExecutable</key>
	<string>DriMacIME</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
